/* Font family export */

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

/* Global variables */
:root {
  --text-color: var(seashell);
  --bg-color: var(black)
}

.text-center,
h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  color: seashell;
  font-family: helvetica;

}

body {
  background-color: black;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* Design system */
h2,
p {
  font-weight: 700;
}

h2 {
  font-weight: 700;
  font-size: 38px;
}

h3 {
  font-size: 22px;
}


h4,
h5 {
  font-size: 24px;
}


p {
  font-size: 18px;
}


/* Web layout */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  border-bottom: 1px solid seashell;
  padding: 0 10px;
}

.logo {
  height: 50px;
  opacity: 0.9;
}

.navbar-list {
  display: flex;
  gap: 16px
}

.list-item a {
  color: seashell;
  font-size: 20px;

}

/* Our mission banner */
.banner-container {
  max-width: 1200px;
  margin: 0 auto;
  max-height: 700px;
  position: relative;
  display: flex;
  justify-content: center;
}

.banner-text-container {
  padding: 10px 0px;
  background-color: black;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.banner-container img {
  height: 700px;
}

/* Tea of the month */

.featured-tea {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
}

.featured-title {
  margin: 16px 0;
}

.featured-text {
  margin-bottom: 30px;
}

.cakes-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.cake {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cake img {
  width: 300px;
}

.cake h2 {
  margin-top: 10px;
}




/* locations */

.locations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*1d3jd2n*_ga*MTcwNjQ4MzU5MC4xNjg4MTczNzAy*_ga_3LRZM6TM9L*MTY4ODQxNjgwOC4xNy4xLjE2ODg0MjEzODkuNTYuMC4w");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;

}

.locations-container h2 {
  margin-bottom: 10px;

}

.location-wrapper,
.location {
  gap: 40px;
}

.location-wrapper {
  display: flex;

}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 300px;
  height: 300px;
}


/* The tea Coazy contact */